package:
  name: qiime2-community
  version: {{ data['version'] or 'placehold' }}

requirements:
  build:
{#- NOTE:
add any dependency-specific override pins here
    - foo 1.2.3
#}
{#- NOTE:
add the following list to data.yaml as an escape hatch to force exclusion of
a package, if necessary:
```yaml
ignore:
  - package1
  - package2
```
#}
{%- for pkg in data['run'] %}
  {%- if ('ignore' not in data) or (data['ignore'] == none) or (pkg not in data['ignore']) %}
    - {{ pkg }} {{ '{{' }} {{ pkg.replace('-', '_') }} {{ '}}' }}
  {%- endif %}
{%- endfor %}

  run:
{%- raw %}
  {%- for package in resolved_packages('build') %}
    - {{ package.split(' ')[:2] | join(' ') }}.*
  {% endfor %}
{%- endraw %}

extra:
  qiime2:
    integration_git_head_ref: {{ env.GITHUB_HEAD_REF or 'placehold' }}
