name: cron-prepare
on:
  workflow_dispatch: {}
  schedule:
    - cron: 0 0 * * SUN

jobs:
  tiny:
    uses: ./.github/workflows/create-prepare-pr.yaml
    secrets: inherit
    with:
      distro: tiny

  amplicon:
    needs: [tiny]
    uses: ./.github/workflows/create-prepare-pr.yaml
    secrets: inherit
    with:
      distro: amplicon

  metagenome:
    needs: [amplicon]
    uses: ./.github/workflows/create-prepare-pr.yaml
    secrets: inherit
    with:
      distro: metagenome
